version: '3.0'
services:
  mariadb:
    container_name: mariadb_1
    image: mariadb:latest
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=1234
      - MYSQL_DATABASE=adonis
      - MYSQL_ALLOW_EMPTY_PASSWORD=no
    volumes:
      - ./data:/var/lib/mysql:z
      - ./mariadb:/etc/my.cnf.d:z
    ports:
      - '10000:3306'
  nginx:
   image: nginx:1.13
   container_name: nginx_1
   ports:
      - '443:443'
      - '80:80'
   volumes:
      - ./nginx:/etc/nginx/conf.d:z

